In [11]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import yfinance as yf
from yahoofinancials import YahooFinancials

In [20]:
data = yf.download('TSLA', 
                      start='2020-01-01', 
                      end='2023-05-01', 
                      progress=False,
)

In [22]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-24,164.649994,165.649994,158.610001,162.550003,162.550003,140006600
2023-04-25,159.820007,163.470001,158.750000,160.669998,160.669998,121999300
2023-04-26,160.289993,160.669998,153.139999,153.750000,153.750000,153364100
2023-04-27,152.639999,160.479996,152.369995,160.190002,160.190002,127015200
2023-04-28,160.899994,165.000000,157.320007,164.309998,164.309998,122351000